@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "PP Object Sans Regular";
    src: url("./src/client/assets/fonts/PPObjectSans-Regular.otf")
      format("opentype");
  }

  @font-face {
    font-family: "Hasklig Regular";
    src: url("./src/client/assets/fonts/Hasklig-Regular.otf") format("opentype");
  }
}
