.idea/
.DS_Store
comics/
docs/
userdata/
dist/
src/client/assets/scss/App.css
/server/
node_modules/
src/**/*.jsx
tests/__coverage__/
tests/**/*.jsx
src/client/assets/scss/App.css.map
yarn-error.log
.nova
environment.list